@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

.redressed {
	font-family: 'Redressed', cursive;
}

.merriweather {
	font-family: 'Merriweather', serif;
}
body{
    background-color: #06600a;
    color: #fff;
}
.navbar{
    background-color: #000000;
}
.logo{
    color: #06600a;
}
.navbar .nav-link{
    color: #fff;
    font-size: 18px;
}
 .navbar .nav-link:active, .navbar .nav-link:focus, .navbar .nav-link:hover{
    color: #066000;
    
}
.navbar .btn-Déconnexion{
    background-color: #06600a;
    transition: background-color 0.3s ease;
    color: #fff;
}
.btn-Déconnexion:hover{
    background-color: #fff;
    border: 2px solid #066000;
}
.input{
    outline: none;
}
.papier{
  height: 400px;
  border-left: 2px solid #066000;
  box-shadow: inset 0 0 0 0 #066000;
  transition: all 2s ease-out;
  color: #000;
}
.papier:hover{
  box-shadow: inset 400px 0 0 0 #066000;
  color: white;
}
#papier{
  background-color: aliceblue;
}
#RDV .container{
    background-color: #084104f7;
}
.rotate-vert-center {
	animation: rotate-vert-center 6s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite alternate both;
}
@keyframes rotate-vert-center {
    0% {
      transform: rotateY(10deg);
    }
    100% {
      transform: rotateY(50deg);
    }
  }
#Demarche .card {
    width: 190px;
    height: 254px;
    background: #06600a;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0 0 rgba(211, 211, 211, 0.199);
  }
  #Demarche .card:hover{
    box-shadow: inset 300px 0 0 0 rgba(211, 211, 211, 0.199);
  }







